body {
    background-color: rgb(35, 35, 35);
    font-family: sans-serif;
}

button {
    border: 0;
    height: 50px;
    width: 50px;
    margin: 3px;
    border-radius: 32px;
}

.container {
    background-color: rgb(48, 55, 61);
    border-radius: 14px;
    height: 400px;
    width: 46%;
    padding: 12px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display {
    border-radius: 14px;
    height: 100px;
    width: 240px;
    background-color: rgb(204, 214, 222);
    margin: 12px;
    margin-bottom: 24px;
    padding: 4px;
    text-align: end;
    font-size: 32px;
    color: rgb(70, 72, 70);
}

.ops { background-color: rgb(123, 150, 211); }
.clear, .equals { background-color: rgba(236, 106, 40, 0.862); }
.num { background-color: rgb(170, 183, 194); }

/* button hover animations */
.num:hover { background-color: rgb(140, 152, 161); }
.equals:hover { background-color: rgba(195, 89, 36, 0.862); }
.clear:hover { background-color: rgba(195, 89, 36, 0.862); }
.ops:hover { background-color: rgb(98, 122, 175); }

/* button click animation */
button:active { transform: scale(1.05); }

